*.bak
*.swp

*.project
*.pydevproject

/br_f18_project_ws/.catkin_tools/profiles
/br_f18_project_ws/src/.settings

/br_f18_project_ws/build
/br_f18_project_ws/devel
/br_f18_project_ws/logs
/br_f18_project_ws/bags

/br_f18_project_ws/src/hokuyo_node
/br_f18_project_ws/src/gscam
/br_f18_project_ws/src/usb_cam
/br_f18_project_ws/src/hector_slam
/br_f18_project_ws/src/teleop_keyobard_twist
